* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    // defines what 1rem should be
    font-size: 62.5%; // 1 rem = 10px defined by me at the beginning
  
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25 
    }
    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50
    }
  
    @include respond(big-desk) {
        font-size: 75%; // 1rem = 12px, 12/16 = 75
    }
  
    // -webkit-scroll-behavior: smooth;
    // scroll-behavior: smooth;
  }
  
  body {
    box-sizing: border-box;
    font-family: sans-serif;
    // background-color: black;
  }