@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// SHADOWS:

@mixin boxShadow {
    box-shadow: 0 .5rem 1rem rgba($color-black,.5);
}

@mixin textShadow {
    text-shadow: 0 .5rem 1rem rgba($color-black,.5);
}

// MIXINS:

@mixin respond($breakpoint) {

    @if $breakpoint == phone-vvs {
        @media only screen and (max-width: 21.875em) { @content}; // 350px
    }

    @if $breakpoint == phone-vs {
        @media only screen and (max-width: 25.5em) { @content}; // 408px
    }

    @if $breakpoint == phone-sml {
        @media only screen and (max-width: 26.5625em) { @content }; // 425px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == phablet {
        @media only screen and (max-width: 46.875em) { @content }; // 750px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desk {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}