// COLORS

$color-primary-dark: #993004;
$color-primary: #ff5108;
$color-primary-light: #ff966a;

$color-secondary-light: #ff9190;
$color-secondary: #ff2321;
$color-secondary-dark: #7f1110;


$color-white: #fffdf8;

$color-black: #000;


// FONTS


$global-font-size: 1.7rem;


